.master {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*outline: 7px solid greenyellow;*/
}

.master__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.master__wrapper_container {
  display: flex;

  align-items: center;
}

.master__title {
  font-family: Great Vibes;
  font-size: 90px;
  font-style: italic;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 0;
  color: #ff0080;
  /* margin: 0 auto;*/
  max-width: 545px;
}

.master__foto {
  width: 400px;
  height: 500px;
  margin: 0 auto;
}

.master__text {
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 0;
  color: #fff;
  max-width: 631px;
}

.master__text_margin {
}

.my-views {
  padding-top: 80px;
  background-image: url(./images/fon-advantage.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}
.my-views__wrapper {
  display: flex;
  flex-direction: column;
  width: 1120px;
  min-height: 130px;
  margin-bottom: 30px;
}
.my-views__title {
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 0;
  color: #fff;
  margin-bottom: 30px;
}
.my-views__text {
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 0;
  color: #fff;
  max-width: 897px;
  margin-left: auto;
}

.my-views__text_margin {
  margin-bottom: 25px;
}

.my-views__paragraph {
  font-family: Inter;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin: 0;
  max-width: 1117px;
}

.my-views__slogan {
  width: 100%;
  height: 250px;
  background-image: url(./images/slogan.png);
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.my-views__sloganText {
  display: none;
}

.certificates {
  display: flex;
  justify-content: space-around;
}

.certificates__container {
}

.certificates__title {
  font-family: Great Vibes;
  font-size: 96px;
  font-style: italic;
  font-weight: 400;
  line-height: 50px;
  text-align: left;

  max-width: 531px;
  margin: 0;
  color: #ff0080;
  padding-bottom: 90px;
}

.certificates__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin: 0;
  color: #fff;
  max-width: 526px;
}

.certificates__foto {
  width: 289px;
  height: 465px;
}

.my-works {
  margin-top: -180px;
}
.my-works__title {
  font-family: Great Vibes;
  font-size: 96px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
  color: #ff0080;
  margin-bottom: -50px;
}

.slider-container {
  position: relative;
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  overflow: hidden;
  /* outline: 5px red solid;*/
}

.slider-container__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;

  outline: 15px rgb(7, 109, 70) solid;
}

.slider-container__foto {
  width: 1100px;
  height: 900px;
  object-fit: cover;
  background-size: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.registration_margin {
  padding-bottom: 60px;
}

@media screen and (max-width: 834px) {
  .master {
    /* display: flex;
    align-items: center;
    justify-content: space-around;*/
    /*outline: 7px solid greenyellow;*/
  }

  .master__wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: center;*/
  }

  /*.master__wrapper_container {
    display: flex;
  
    align-items: center;
  }*/

  .master__title {
    font-size: 64px;
    max-width: 320px;
    align-self: flex-start;
  }

  .master__foto {
    width: 340px;
    height: 423px;
    margin: 0 auto;
  }

  .master__text {
    max-width: 435px;
    font-size: 15px;
  }

  .master__text_margin {
  }

  .my-views {
    padding-top: 150px;
    background-image: url(./images/fon-advantage-tablet.png);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }
  .my-views__wrapper {
    width: 794px;
    min-height: 130px;
    margin-bottom: 30px;
    outline: 5px blue solid;
  }
  .my-views__title {
    margin-bottom: 30px;
    font-size: 15px;
  }
  .my-views__text {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    max-width: 656px;
    margin-left: auto;
  }

  .my-views__text_margin {
    margin-bottom: 25px;
  }

  .my-views__paragraph {
    font-size: 20px;
    max-width: 794px;
    text-align: center;
  }

  .my-views__slogan {
    display: none;
    /* width: 781px;
    height: 120px;
    background-image: url(./images/slogan-tablet.png);
    background-size: cover;
    object-fit: cover;
    background-position: top;*/
    /*padding-top: 40px;*/
  }

  .my-views__sloganText {
    display: flex;
    font-family: Great Vibes;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin: 0;
    color: #fff;
    max-width: 761px;
    margin-top: 20px;

    text-shadow: 1px 1px 2px #ff027b, 0 0 1em rgb(228, 17, 228),
      0 0 0.2em rgb(195, 0, 255);

    color: white;
  }

  .certificates {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    outline: 5px rgb(16, 80, 175) solid;
  }

  .certificates__container {
    outline: 5px red solid;
  }

  .certificates__title {
    max-width: 401px;
    padding-bottom: 40px;
    font-size: 64px;
  }

  .certificates__text {
    max-width: 408px;
    font-size: 15px;
    line-height: 18.15px;
  }








  
}

@media screen and (max-width: 320px) {
  .master {
    position: relative;
    /*outline: 7px solid greenyellow;*/
  }

  .master__wrapper {
  }

  .master__wrapper_container {
  }

  .master__title {
    max-width: 156px;
    font-family: Great Vibes;
    font-size: 32px;
    line-height: 45px;
    max-width: 545px;
  }

  .master__foto {
    width: 135px;
    height: 173px;
  }

  .master__text {
    max-width: 163px;
    font-family: Inter;
    font-size: 8px;
    line-height: 12px;
    text-align: left;
  }

  .master__text_margin {
    max-width: 300px;
    position: absolute;
    bottom: -40px;
    left: 12px;
  }

  .my-views {
    /*padding-top: 80px;*/
    background-image: url(./images/fon-advantage-mobile.png);
    background-size: cover;
    background-position: top;
    object-fit: cover;
    width: 320px;
    min-height: 325px;
    margin-top: 50px;
    /*outline: 5px solid red;*/
  }
  .my-views__wrapper {
    display: flex;
    flex-direction: column;
    width: 298px;
    min-height: 80px;
    /* margin-bottom: 30px;*/
    /* outline: 5px solid red;*/
  }
  .my-views__title {
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
  }
  .my-views__text {
    font-family: Inter;
    font-size: 8px;
    font-style: italic;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
    max-width: 215px;
    margin-left: auto;
  }

  .my-views__text_margin {
    margin-bottom: 25px;
  }

  .my-views__paragraph {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    max-width: 300px;
  }

  .my-views__slogan {
    display: none;
  }

  .my-views__sloganText {
    display: flex;
    font-family: Great Vibes;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 0;
    color: #fff;
    max-width: 225px;
    margin-top: 20px;
  }

  .certificates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
  }

  .certificates__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .certificates__title {
    align-self: start;
    padding-bottom: 10px;
    max-width: 276px;
    font-family: Great Vibes;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
  }

  .certificates__text {
    margin-bottom: 20px;
    max-width: 300px;
    font-size: 12px;
    line-height: 14.52px;
    text-align: left;
  }

  .certificates__foto {
    width: 300px;
    height: 488px;
    border-radius: 5px;
  }

  .my-works {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    min-height: 390px;
    /* outline: 15px red solid;*/
    margin-bottom: 30px;
    align-items: center;
  }
  .my-works__title {
    align-self: start;
    font-family: Great Vibes;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 10px;
  }

  .slider-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    /* outline: 5px rgb(11, 51, 161) solid;*/
  }

  .slider-container__slider {
    display: flex;
    transition: transform 0.5s ease-in-out;

    /* outline: 15px rgb(7, 109, 70) solid;*/
  }

  .slider-container__btnWrapper {
    display: flex;
    justify-content: space-between;
    /* outline: 5px rgb(161, 71, 11) solid;*/
    height: 40px;
    margin-top: 20px;
    display: flex;
    width: 80px;
  }

  .slider-container__button-block {
    display: block;
  }

  .slider-container__button-left {
    background-image: url(./images/photo-gallery__button-left.png);
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
  }

  .slider-container__button-right {
    background-image: url(./images/photo-gallery__button-right.png);
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
  }

  .slider-container__foto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-size: cover;
  }

  .registration__wrap-form_reverse {
    flex-flow: wrap;
  }

  .registration__formRegister_margin {
    margin-bottom: 20px;
  }

  .registration_no-margin {
    padding-bottom: 0;
  }
}
