.prices {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices__signup {
  position: absolute;
  bottom: 490px;
  left: 115px;
  transform-origin: top left;
  transform: rotate(-50deg);
  font-family: Monotype Corsiva;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 0;
  color: #fff;
}

.prices__arrow-right {
  position: absolute;
  top: 95px;
  right: 66px;
}

.prices__arrow-left {
  position: absolute;
  bottom: 380px;
  left: 150px;
}

.prices__arrow-right-mobile {
  display: none;
}

.prices__arrow-left-mobile {
  display: none;
}

.prices__title {
  font-family: Great Vibes;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 70px 0 40px 0;
}
.prices__image {
  width: 719px;
  height: 1280px;
}
.prices__text {
  font-family: Great Vibes;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 705px;
  padding-top: 40px;
}
.prices__paragraph {
  font-family: Great Vibes;
  font-size: 64px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 40px;
  max-width: 1118px;
}

.prices__fon {
  background-image: url(./images/prices-fon.png);
  background-position: top;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.prices__button {
  width: 1122px;
  height: 60px;
  border-radius: 20px;
  /*opacity: 0;*/
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  transition: 0.9s ease-in-out;
  border: none;
  text-decoration: none;
}

.prices__button:hover {
  transform: scale(1.09);
}

.prices__wrapper_flex {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.prices__wrapper {
  width: 250px;
  display: flex;
  align-items: center;
}

.prices__button_pink {
  background: #ff0080;
}

.prices__icon {
  width: 33px;
  height: 33px;
}

.prices__titleButton {
  margin: 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}

.prices__titleButton_subtitle {
  color: #ffffffbf;
}

@media screen and (max-width: 1214px) {
  .prices__arrow-right {
    position: absolute;
    top: 118px;
    right: 36px;
  }
}

@media screen and (max-width: 1126px) {
  .prices__button {
    max-width: 774px;
  }
}

@media screen and (max-width: 986px) {
  .prices__arrow-left {
    position: absolute;
    bottom: 330px;
    left: 120px;
  }
  .prices__signup {
    bottom: 450px;
    left: 115px;
  }
}

@media screen and (max-width: 910px) {
  .prices__arrow-left {
    bottom: 330px;
    left: 100px;
  }
  .prices__signup {
    bottom: 440px;
    left: 95px;
  }
}

@media screen and (max-width: 858px) {
  .prices__arrow-left {
    bottom: 330px;
    left: 80px;
  }
  .prices__signup {
    bottom: 430px;
    left: 65px;
  }
}

@media screen and (max-width: 834px) {
  .prices__title {
    padding: 30px 0 30px 0;
    font-size: 36px;
  }

  .prices__arrow-right {
    display: none;
  }

  .prices__arrow-left {
    bottom: 380px;
    left: 70px;
  }

  .prices__signup {
    bottom: 490px;
    left: 65px;
    font-size: 28px;
  }

  .prices__text {
    max-width: 588px;
    padding-top: 40px;
    font-size: 40px;
  }
  .prices__paragraph {
    padding-top: 40px;
    max-width: 794px;
  }

  /* .prices__button {
    max-width: 774px;
  }*/

  .prices__wrapper_flex {
    width: 250px;
    display: flex;
    flex-direction: column;
  }

  .prices__wrapper {
    width: 250px;
    display: flex;
    align-items: center;
  }

  .prices__icon {
    width: 33px;
    height: 33px;
  }

  .prices__titleButton {
    margin: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
  }

  .prices__titleButton_subtitle {
    color: #ffffffbf;
  }
}

@media screen and (max-width: 810px) {
  .prices__arrow-left {
    bottom: 330px;
    left: 50px;
  }
  .prices__signup {
    bottom: 430px;
    left: 35px;
  }
}

@media screen and (max-width: 774px) {
  .prices__button {
    max-width: 675px;
  }

  .prices__paragraph {
    padding-top: 40px;
    max-width: 660px;
    font-size: 42px;
  }
}

@media screen and (max-width: 719px) {
  .prices__image {
    width: 619px;
    height: 1280px;
  }
  .prices__arrow-left {
    bottom: 330px;
    left: 20px;
  }
  .prices__signup {
    bottom: 430px;
    left: 15px;
  }
  .prices__button {
    max-width: 675px;
  }
}

@media screen and (max-width: 678px) {
  .prices__title {
    font-size: 28px;
  }
  .prices__image {
    width: 519px;
    height: 1000px;
  }
  .prices__arrow-left {
    bottom: 310px;
    left: 20px;
  }
  /*.prices__signup {
  bottom: 420px;
  left: 15px;
  
}*/
  .prices__button {
    max-width: 580px;
  }

  .prices__arrow-right {
    display: none;
  }

  .prices__arrow-left {
    display: none;
  }

  .prices__arrow-right-mobile {
    display: block;
    position: absolute;
    top: 56px;
    right: 48px;
  }

  .prices__arrow-left-mobile {
    display: block;
    position: absolute;
    bottom: 255px;
    right: 134px;
  }

  .prices__fon {
    padding-top: 20px;
    height: 260px;
  }

  .prices__signup {
    bottom: 288px;
    left: 395px;
    transform-origin: top left;
    transform: rotate(-1deg);
    font-size: 18px;
    line-height: 15px;
  }

  .prices__titleButton {
    font-size: 15px;
  }

  .prices__paragraph {
    max-width: 500px;
    font-size: 28px;
    padding-top: 10px;
  }

  .prices__text {
    max-width: 500px;
    padding-top: 20px;
    font-size: 28px;
  }
}

@media screen and (max-width: 666px) {
  .prices__arrow-right-mobile {
    top: 66px;
  }
}

@media screen and (max-width: 586px) {
  .prices__signup {
    left: 335px;
  }
}

@media screen and (max-width: 580px) {
  .prices__title {
    padding: 30px 0 30px 0;
    font-size: 26px;
  }

  .prices__image {
    width: 419px;
    height: 700px;
  }
  .prices__button {
    max-width: 480px;
  }

  .prices__text {
    max-width: 480px;
    font-size: 22px;
    padding-top: 40px;
  }

  .prices__paragraph {
    max-width: 480px;
    font-size: 22px;
    padding-top: 10px;
  }

  .prices__fon {
    padding-top: 40px;
    height: 260px;
  }

  .prices__arrow-left-mobile {
    bottom: 265px;
  }

  .prices__signup {
    left: 315px;
    bottom: 300px;
  }
}

@media screen and (max-width: 500px) {
  .prices__title {
    padding: 30px 0 30px 0;
    font-size: 20px;
  }

  .prices__image {
    width: 350px;
    height: 700px;
  }

  .prices__arrow-left-mobile {
    bottom: 275px;
  }

  .prices__signup {
    left: 245px;
    bottom: 310px;
    font-size: 16px;
  }

  .prices__titleButton {
    font-size: 12px;
  }

  .prices__button {
    max-width: 350px;
  }

  .prices__text {
    max-width: 380px;
    font-size: 20px;
  }

  .prices__paragraph {
    max-width: 360px;
    font-size: 20px;
  }
}

@media screen and (max-width: 392px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prices__fon {
    background: transparent;
  }

  .prices__title {
    padding: 30px 0 30px 0;
    font-size: 14px;
    line-height: 18px;
  }

  .prices__image {
    width: 320px;
    height: 597px;
  }

  .prices__arrow-right {
    display: none;
  }

  .prices__arrow-left {
    display: none;
  }

  .prices__arrow-right-mobile {
    display: block;
    position: absolute;
    top: 36px;
    right: 44px;
  }

  .prices__arrow-left-mobile {
    display: block;
    position: absolute;
    bottom: 150px;
    right: 64px;
  }

  .prices__signup {
    bottom: 179px;
    left: 230px;
    transform-origin: top left;
    transform: rotate(-1deg);
    font-size: 12px;
    line-height: 15px;
  }

  .prices__button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    /* opacity: 0;*/
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    transition: 0.9s ease-in-out;
  }

  .prices__titleButton {
    font-size: 12px;
  }

  .prices__fon {
    background-position: center;
    height: 150px;
    padding-top: 15px;
  }

  .prices__text {
    max-width: 206px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .prices__paragraph {
    padding-top: 20px;
    max-width: 303px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 360px) {
  .prices__signup {
    left: 200px;
  }
}

@media screen and (max-width: 320px) {
  .prices__title {
    padding: 30px 0 30px 0;
    font-size: 14px;
    line-height: 18px;
  }

  .prices__image {
    width: 300px;
    height: 497px;
  }

  .prices__arrow-right {
    display: none;
  }

  .prices__arrow-left {
    display: none;
  }

  .prices__arrow-right-mobile {
    display: block;
    position: absolute;
    top: 36px;
    right: 4px;
  }

  .prices__arrow-left-mobile {
    display: block;
    position: absolute;
    bottom: 150px;
    right: 64px;
  }

  .prices__signup {
    bottom: 185px;
    left: 145px;
    transform-origin: top left;
    transform: rotate(-1deg);
    font-size: 12px;
    line-height: 15px;
  }

  .prices__button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    /* opacity: 0;*/
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    transition: 0.9s ease-in-out;
  }

  .prices__titleButton {
    font-size: 12px;
  }

  .prices__titleButton_subtitle {
  }

  .prices__fon {
    background-position: center;
    height: 150px;
    padding-top: 15px;
  }

  .prices__text {
    max-width: 206px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .prices__paragraph {
    padding-top: 20px;
    max-width: 303px;
    font-size: 14px;
    line-height: 18px;
  }
}
