.banner-questions {
  background-image: url(./images/questionsMaster.png);
  max-width: 1280px;
  height: 633px;
  background-size: cover;
}

.banner-questions__title {
  font-family: Great Vibes;
  font-size: 90px;
  font-style: italic;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 0;
  color: #fff;
  padding: 130px 0 0 40px;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers__container {
  max-width: 1120px;
  padding-top: 50px;
}

.answers__wpapper {
  min-height: 200px;
  margin-bottom: 30px;
}

.answers__title {
  font-family: Great Vibes;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  margin: 0;
  color: #ff0080;
  margin-bottom: 40px;
  max-width: 1121px;
}

.answers__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin: 0;
  color: #fff;
}

.answers__text_margin {
  margin-bottom: 30px;
}

.answers__lists {
  list-style: none;
  padding: 0;
}

.answers__item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 1140px) {
  .answers__container {
    max-width: 1040px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1052px) {
  .answers__container {
    max-width: 940px;
  }
}

@media screen and (max-width: 960px) {
  .answers__container {
    max-width: 840px;
  }
}

@media screen and (max-width: 880px) {
  .answers__container {
    max-width: 740px;
  }

  .answers__title {
    font-size: 55px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 40px;
    max-width: 740px;
  }

  .answers__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 834px) {
  .banner-questions {
    background-image: url(./images/questionsMaster-tablet.png);
    background-position: center;
    max-width: 834px;
    height: 600px;
  }

  .banner-questions__title {
    padding: 145px 0 0 10px;
    font-size: 64px;
    font-weight: 400;
  }

  /*.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }*/

  .answers__container {
    max-width: 794px;
    padding-top: 50px;
  }

  .answers__wpapper {
    min-height: 100px;
    margin-bottom: 30px;
  }

  .answers__title {
    margin-bottom: 20px;
    max-width: 795px;

    font-size: 48px;
    line-height: 50px;
  }

  .answers__text {
    font-size: 14px;
    line-height: 16.94px;
  }

  .answers__text_margin {
    margin-bottom: 20px;
  }

  .answers__item {
    font-size: 14px;
    line-height: 16.94px;
  }

  .registration_margin {
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .answers__container {
    max-width: 700px;
  }
}

@media screen and (max-width: 712px) {
  .answers__container {
    max-width: 640px;
  }
}

@media screen and (max-width: 648px) {
  .answers__container {
    max-width: 580px;
  }

  .answers__title {
    margin-bottom: 20px;
    max-width: 795px;
    font-size: 48px;
    line-height: 44px;
  }
}

@media screen and (max-width: 592px) {
  .banner-questions__title {
    padding: 145px 0 0 10px;
    font-size: 48px;
    font-weight: 400;
  }
  .answers__container {
    max-width: 520px;
  }

  .answers__title {
    margin-bottom: 20px;
    max-width: 795px;
    font-size: 42px;
    line-height: 44px;
  }
}

@media screen and (max-width: 524px) {
  .banner-questions {
    height: 450px;
  }
  .banner-questions__title {
    padding: 145px 0 0 10px;
    font-size: 40px;
    font-weight: 400;
  }
  .answers__container {
    max-width: 462px;
  }

  .answers__title {
    max-width: 500px;
    font-size: 35px;
    line-height: 44px;
  }
}

@media screen and (max-width: 480px) {
  .banner-questions {
    height: 380px;
  }
  .banner-questions__title {
    padding: 145px 0 0 10px;
    font-size: 35px;
    font-weight: 400;
  }
  .answers__container {
    max-width: 420px;
  }

  .answers__title {
    max-width: 400px;
  }
}

@media screen and (max-width: 428px) {
  .answers__container {
    max-width: 380px;
  }

  .answers__title {
    max-width: 370px;
  }
}

@media screen and (max-width: 388px) {
  .banner-questions {
    height: 310px;
}
  .answers__container {
    max-width: 320px;
  }

  .answers__title {
    max-width: 370px;
  }
}

@media screen and (max-width: 340px) {
  .banner-questions {
    height: 300px;
}
  .answers__container {
    max-width: 300px;
  }

  .banner-questions__title {
    padding: 80px 0 0 10px;
}
}


@media screen and (max-width: 320px) {
  .banner-questions {
    background-image: url(./images/questionsMaster-mobile.png);
    background-position: center;
    width: 320px;
    height: 280px;
  }

  .banner-questions__title {
    padding: 55px 0 0 10px;
    font-size: 32px;
    line-height: 40px;
  }

  /*.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }*/

  .answers__container {
    max-width: 300px;
    padding-top: 20px;
  }

  .answers__wpapper {
    min-height: 200px;
    margin-bottom: 30px;
  }

  .answers__title {
    margin-bottom: 20px;
    max-width: 300px;
    font-family: Great Vibes;
    font-size: 32px;
    line-height: 40px;
  }

  .answers__text {
    font-size: 12px;
    line-height: 14.52px;
  }

  .answers__text_margin {
    margin-bottom: 20px;
  }

  .answers__item {
    font-size: 12px;
    line-height: 14.52px;
  }
}
